@font-face {
  font-family: 'Actor';
  src: url('../fonts/Actor-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Actor', 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #e7dcc8;
  background-image: url(../media/linen.jpg);
  background-repeat: repeat;
}

.wrapper {
  background-color: white;
  margin: 0 auto;
  max-width: 100%;

  @media (min-width: 768px) {
    max-width: 700px;
    box-shadow: 0 0 30px #6e6d6b;
  }

  @media (min-width: 992px) {
    max-width: 900px;
  }
}

nav,
main,
footer {
  padding: 0 1em;
}

nav {
  height: 72px;
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: 0 0 4px #6e6d6b;
}

footer {
  background-color: #6e6d6b;
  display: flex;
  align-items: center;
  color: white;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

nav ul,
footer ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 0;
  word-wrap: none;

  li {
    display: inline-block;
  }

  li:first-child {
    padding-left: 0;
  }
}

nav ul {
  li {
    padding: 0 0.5rem;
    a {
      color: #a8a6a4;
      text-decoration: none;

      &:hover {
        color: #0041f481;
        text-decoration: underline;
      }

      @media (min-width: 768px) {
        &.sitename {
          font-size: 1.5rem;
          margin-right: 1.25rem;
        }
      }
    }
  }
}

footer ul li {
  font-size: 0.85rem;
  padding: 0 0.5rem 0.22rem;
  a {
    text-decoration: underline;
    color: white;
  }
}

main {
  padding: 0 1rem;

  @media (min-width: 768px) {
    padding: 0 2rem;
  }

  a {
    color: #0041f481;

    &:hover {
      color: #0041f481;
    }
  }
}

.qrcode {
  float: right;
  width: 140px;
  height: auto;
}

.other-posts {
  float: right;
  padding: 0.75rem;
  background-color: #d8d5d2;
  margin: 0 0 0.75rem 0.75rem;
  list-style: none;
}

video {
  width: 100%;

  @media (min-width: 768px) {
    width: auto;
  }
}
