<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="wrapper">
      <nav>
        <ul>
          <li><a class="sitename" href="/">Bruce Bell-Myers</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/cv">CV</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </nav>
      <main>{{ content }}</main>
      <footer>
        <ul>
          <li>Bruce Bell-Myers</li>
          <li><a href="/">Home</a></li>
          <li><a href="mailto:bellmyb@gmail.com">email</a></li>
          <li><a href="https://github.com/bbellmyers">github.com/bbellmyers</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
